#jinja2: lstrip_blocks: "True"
{# Use a macro to indent included template. See https://stackoverflow.com/a/10997352/907592 #}
{% macro restrictionMacro(restriction) -%}
{% if restriction.satisfy_any is defined and restriction.satisfy_any %}
satisfy any;
{% endif %}
{% if restriction.deny_allow_list is defined and restriction.deny_allow_list|length %}
  {% for deny_allow_line in restriction.deny_allow_list %}
{{ deny_allow_line }};
  {% endfor %}
{% endif %}
{% if restriction.basic_auth_enabled is defined and restriction.basic_auth_enabled %}
auth_basic "{{ restriction.basic_auth_name }}";
auth_basic_user_file {{ restriction.basic_auth_passwd_filepath }};
{% endif %}
{%- endmacro %}
# {{ ansible_managed }}

# Server configuration for {{ nsb_main_domain }}
# Secondary domains: {{ nsb_secondary_domains|join(' ') }}
#
{% if nsb_c_http_net_listen_conf|length %}

server {

  server_name {{ nsb_c_domains_string|join(' ') }};
  {% if (nsb_c_http_net_listen_conf|default([])|length) or (nsb_c_https_net_listen_conf|default([])|length) %}

  # HTTP ports.
    {% for listen_conf in nsb_c_http_net_listen_conf %}
      {% if listen_conf.ipv6 %}
  listen [{{ (listen_conf.interface == '*') | ternary('::', listen_conf.interface) }}]:{{ listen_conf.port }};
      {% else  %}
  listen {{ listen_conf.interface }}:{{ listen_conf.port }};
      {% endif  %}
    {% endfor %}
  {% endif  %}
    {% if nsb_c_https_net_listen_conf|default([])|length %}

  # HTTPS ports.
    {% for listen_conf in nsb_c_https_net_listen_conf %}
      {% if listen_conf.ipv6 %}
  listen [{{ (listen_conf.interface == '*') | ternary('::', listen_conf.interface) }}]:{{ listen_conf.port }} ssl{{ listen_conf.http2 | ternary(' http2', '') }};
      {% else  %}
  listen {{ listen_conf.interface }}:{{ listen_conf.port }} ssl{{ listen_conf.http2 | ternary(' http2', '') }};
      {% endif  %}
    {% endfor %}

  # SSL certificates.
  ssl_certificate     {{ nsb_ssl_certificate_file }};
  ssl_certificate_key {{ nsb_ssl_certificate_key_file }};
    {% if nbs_restriction is defined %}

  # Restrictions.
      {% set restriction = nbs_restriction %}
{{ restrictionMacro(restriction)|indent( width=2, indentfirst=True) }}
    {% endif %}
    {% if nbs_force_https %}

  # Redirect HTTP traffic to HTTPS. Yes, 'if' is evil, but 'return ...;' is
  # safe. See https://www.nginx.com/resources/wiki/start/topics/depth/ifisevil/
  if ($scheme = http) {
      {% if nbs_feature_allow_well_known_rfc_5785 %}
    set $redirect_to_https "tr";
  }
  if ($uri !~* \.well-known/) {
    set $redirect_to_https "${redirect_to_https}ue";
  }
  if ($redirect_to_https = "true") {
      {% endif  %}
    return 301 https://$server_name$request_uri;
  }
    {% endif  %}
  {% endif  %}
{# TODO: Add Unix socket support #}

  root {{ nbs_docroot_path }};
  {% if nbs_use_error_log_file_for_site or nbs_use_access_log_file_for_site %}

  # Logs.
    {% if nbs_use_access_log_file_for_site %}
  access_log {{ nsb_log_dir_path}}/{{ nsb_main_domain }}-access.log {{ nbs_log_format_access }};
    {% endif %}
    {% if nbs_use_error_log_file_for_site %}
  error_log {{ nsb_log_dir_path}}/{{ nsb_main_domain }}-error.log {{ nbs_log_error_level }};
    {% endif %}
  {% endif %}
  {% if nbs_feature_dont_log_favicon %}

  # Do not log favicon.ico.
  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }
  {% endif %}
  {% if nbs_feature_dont_log_robots_txt %}

  # Do not log robots.txt.
  location = /robots.txt {
    log_not_found off;
    access_log off;
  }
  {% endif %}
  {% if nbs_feature_allow_well_known_rfc_5785 %}

  # Allow "Well-Known URIs" described in RFC 5785.
  location ~* ^/.well-known/ {
    allow all;
  }
  {% endif %}
  {% if nbs_feature_block_hidden_dirs %}


  # Block hidden directories (those that begin with a period). This includes
  # CVS directories and others.
  location ~ (^|/)\. {
    return 403;
  }
  {% endif %}
  {% if nbs_feature_block_php_source_and_related_files %}

  # Block certain files that may contain confidentual information.
  location ~* \.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)(~|\.sw[op]|\.bak|\.old|\.orig|\.save)?$|^(\.(?!well-known).*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig|\.save)$|^.*\.php$ {
    deny all;
  }
  {% endif %}
  {% if nbs_feature_ignore_ht_files %}

  # Block Apache's .ht* files.
  location ~/\.ht {
    deny all;
    {% if nbs_feature_ht_files_mask_404 %}
    return 404;
    {% endif %}
  }
  {% endif %}
  {% if nbs_server_additional_conf %}

  # Additional configuration.
  {{ nbs_server_additional_conf|indent(2, False)}}
  {% endif %}
  {% for location in nbs_locations %}
  location {{ location.match }} {
    {% if location.restriction is defined and location.restriction %}
      {% set restriction = location.restriction %}
{{ restrictionMacro(restriction)|indent( width=4, indentfirst=True) }}
    {% endif %}
    {{ location.body|indent(4, False)}}
  }

  {% endfor %}
}
{% endif %}
